body, button{
    background: black;
    justify-content:center;
    font-family: 'Saira Stencil One', cursive;
    
    letter-spacing: 2px;
  }

  
  h1, h3, p, h2 {
    background: -webkit-linear-gradient(rgb(185, 230, 100), rgb(232, 233, 243));
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
  }
  
  p{
    font-size: 24px;
  }

  img {
    width: 100%; /* responsive images */
    border-radius: 10px;
  }
  section {
    padding: 4rem 0;
    /* padding-top: 100px; */
  }

  main {
    max-width: 1000px;
    margin: 0 auto;
    hyphens:: auto;
  }
  .card {
  /*
    display:flex;
  */
    flex-direction:column;
    margin-top: 0;
    align-content: center;
    justify-content:center;
    width: 100%;
    height: 335px;
    text-align:center;
  }
  .column {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    text-align: top;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content at the top */
  }
  .icon{
    margin-bottom: 3rem;
  }
  
  h1 {
  /*  border-bottom: solid 3px gold;*/
    font-size: 100px;
    margin:auto;
  }

  h2{
    font-size: 2rem;
    /* margin-bottom: ; */
  }
  
  button{
  
    width:275px;
    height:50px;
    border-radius:50px;
    font-size:18px;
    text-align:center;
    margin-top:2.5rem;
    border-color: white;
    background: linear-gradient(#B9E664, white);
    justify-content: center;
    margin-left: 22rem;
  }
  

  header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 30rem; */
  }

  nav{
  display:flex;
  flex-direction:row;
  justify-content:center;
  margin-top: 2rem;
}

li{
  color:rgb(188, 188, 188);
  list-style:none;
  margin:1rem;
  font-size: 24px;
  text-shadow: black 2px 1px;
  font-size:36px
}


.img2{
  background-image: url(/images/img2.jpg);
  filter: grayscale(100%); /* Make the image black and white */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Apply an inner shadow */
  background-repeat: no-repeat;
  background-size: cover; /* Cover the entire header */
  background-position: center; /* Center the image horizontally and vertically */
  height: 25rem; /* Set the height to match the header height */
}

.heading {
  height: 15rem;
}

.mission{
  
}

.statement